#nav-bar {
    position: fixed;
    top: 0;
    background-color: #00a087;
    width: 100%;
    height: 80px;
    color: #e8fdff;
    padding: 0 2em;
}

#nav-bar .header {
    float: left;
    /* width: 200%; */
    /* height: 200%; */
    font-size: 161%;
    line-height: 300%;
    vertical-align: middle;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
}
