#nav-bar {
    position: fixed;
    top: 0;
    background-color: #00a087;
    width: 100%;
    height: 80px;
    color: #e8fdff;
    padding: 0 2em;
}

#nav-bar .header {
    float: left;
    /* width: 200%; */
    /* height: 200%; */
    font-size: 161%;
    line-height: 300%;
    vertical-align: middle;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
}

#nav-bar .nav-buttons {
    float: right;
    list-style-type: none;
    margin: 7px;
    overflow: auto;
    }
.nav-buttons button{
    padding: 15px;
    background-color: #fcffff;
    border: 1px solid #666;
    border-radius: 11px;
    width: 8em;
    height: 2m;
    height: 4em;
    overflow: auto;
    opacity: 0.6;
    box-shadow: 0px 5px 0px #00823F;

}
.nav-buttons button:hover{
opacity: 1;

}

.nav-buttons button:active {
  box-shadow: 0 3px 0 #000502;
  top: 3px;
}

.nav-buttons span {
color: #00a087;
float: right;
font-size: 130%
}
.nav-buttons .fa-pencil-square-o {
float: left;
color: #00a087;
size: 230%
}

